<div id="topBar">
	<div class="numeralGrid">
		<p><span id="num1" class="gridNum">01</span></p>
		<p><span id="num2" class="gridNum">02</span></p>
		<p><span id="num3" class="gridNum">03</span></p>
		<p><span id="num4" class="gridNum">04</span></p>
		<p><span id="num5" class="gridNum">05</span></p>
		<p><span id="num6" class="gridNum">06</span></p>
		<p><span id="num7" class="gridNum">07</span></p>
		<p><span id="num8" class="gridNum">08</span></p>
		<p><span id="num9" class="gridNum">09</span></p>
		<p><span id="num10" class="gridNum">10</span></p>
		<p><span id="num11" class="gridNum">11</span></p>
		<p><span id="num12" class="gridNum">12</span></p>
	</div>
	<div id="stripedBar"></div>
</div>