---
---
{% include blog-head.html %}
<link rel="stylesheet" type="text/css" href="./stylesheet.css">
<nav id="sideBar">
	<a href="/">home</a>
	<a href="/about">about me</a>
	<a href="">contact</a>
	<a href="">portfolio</a>
	<a href="/blog">blog</a>
</nav>

<div id="mainContent">
	<div class="segment">
		<h1 id="about-me">About me</h1>
		<p class="w-3">My name is aitor, I am a webdeveloper and graphic designer with a bachelor in web development from the Norwegian University of Science and Technology. My main area of expertise is front end development but i am comfortable with both front and back end development. On top of this I am a graphic designer on the side and i&#39;ve been running an <a href="https://www.instagram.com/_a.i.t.o.r_/">instagram page</a> since about late 2017 where I post my work. When it comes to graphic design im self taught and often try to incorporate my 3D work into them.</p>
		<img src="images/ntnu.jpg" alt="Entrance of the norwegian University of Science and Technology in Gjøvik" class="w-1">
		<p class="w-4">I&#39;m naturally a very curious person and such usually enjoy researching alot of different topics. Outside of WebDev and graphic design I am also really into fashion, photography, music and architecture. These are topics that I spend alot of time with and as such are all inspirations in my design practice. Of course I have interests outside of these and I&#39;ve spent quite some time doing other random things like building keyboards, researching rare vehicles or learning about cryptography. I have a <a href="/blog/">blog</a> where i share my findings and opinions on these other, more niche interests.</p>
	</div>
</div>