---
---
{% include blog-head.html %}
<nav id="sideBar">
	<a href="/">home</a>
	<a href="/about">about me</a>
	<a href="">contact</a>
	<a href="">portfolio</a>
	<a href="">blog</a>
</nav>

<div id="mainContent">
	<div class="segment">
	</div>
	{% for post in site.posts %}
		<div class="segment">
			{% if post.image %}
			<img src="{{ post.image }}" class="previewImage w-1">
			<span class="w-3">
			<a href="{{ post.url }}" class="titleLink"><h1>{{ post.title }}</h1></a>
			<p> {{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
			<p class="postDate">{{ post.date| date: "%d %B %Y" }}</p>
			</span>
			{% else %}
			<span class="w-4">
			<a href="{{ post.url }}" class="titleLink"><h1>{{ post.title }}</h1></a>
			<p class="postDate">{{ post.date| date: "%d %B %Y" }}</p>
			<p> {{ post.content | markdownify | strip_html | truncatewords: 50 }}</p>
			
			</span>
			{% endif %}
			

			
		</div>
	{% endfor %}
</div>