---
---
<html lang="en">
	<!--head tag-->
	{% include site-head.html %}
	<div id="siteWrapper">
	<!-- nav header -->
	<header id="deskNav">{% include desk-nav.html %}</header>
	<header id="mobileNav">{% include mobile-nav.html %}</header>
	
	{% include topbar.html %}

	<img src="{{site.baseurl}}/media/svg/BBLL.svg" id="bbll" alt="">

	<!--Content from other templates-->
	{{content}}
	</div>

	<!--Loading screen-->
	<div style="width: 100%; height: 100%; background: white; position: fixed; top: 0; left: 0; display: flex; align-items: center; justify-content: center;" class="loader">
		<span style="color: #454545;">loading...</span>
	</div>

	<!--Scripts loading-->
	{% include favicon-anim.html %}
	<script src="{{ site.baseurl }}/medium-zoom.js"></script>
	<script type="text/javascript">
		document.querySelector("#menuBtn").onclick = function (e) {
			var menu = document.querySelector('#mobileNavMenu');
			var menuBtn = document.querySelector('#menuBtn');
			var body = document.querySelector('body');

			menu.classList.toggle('is-active');
			menuBtn.classList.toggle('is-active');
			body.classList.toggle('is-active');
			if ( menuBtn.classList.contains('is-active') ) {
				menuBtn.src = '{{ site.baseurl }}/media/svg/Xsmybol.svg';
			}
			else{
				menuBtn.src = '{{ site.baseurl }}/media/svg/burgerSymbol.svg';
			}
			console.log("fuck");
			e.preventDefault();
		}
		function vanish(){
			loader.classList.add("dissapear");
			 setTimeout(function(){ loader.remove() }, 2000);
		}
		var loader = document.querySelector(".loader");

		window.addEventListener("load", vanish);
			window.setTimeout(myFunction, 300);
		function myFunction() {
		bricklayer.redraw();
		}
		mediumZoom( '.zoom', {
			scrollOffset: 90,
			margin: 30,
			background: 'rgba(0, 0, 0, .85)'
		})
	</script>
</html>