---
---
{% include blog-head.html %}
<link rel="stylesheet" type="text/css" href="./stylesheet.css">

<nav id="sideBar">
{% include blog-nav.html %}
</nav>

<div id="mainContent">
	<div class="segment">
			<h1 class="massiveText">Hi, my name is <span class="highlight">Aitor.</span> I'm a webdeveloper and graphic designer based in <span class="hidden">its a secret &#x1F92B;</span>, Norway</h1>
	</div>
	<div class="segment">
		<h1>About me</h1>
		<p class="w-3">My name is aitor, I am a webdeveloper and graphic designer with a bachelor in web development from the Norwegian University of Science and Technology. My main area of expertise is front end development but i am comfortable with both front and back end development. On top of this I am a graphic designer on the side and i've been running an <a href="https://www.instagram.com/_a.i.t.o.r_/" target="_blank">instagram page</a> since about late 2017 where I post my work. When it comes to graphic design im self taught and often try to incorporate my 3D work into them.</p>
		<img src="images/ntnu.jpg" class="w-1" alt="Entrance of the norwegian University of Science and Technology in Gjøvik">
		<p class="w-4">I'm naturally a very curious person and such usually enjoy researching alot of different topics. Outside of WebDev and graphic design I am also really into fashion, photography, music and architecture. These are topics that I spend alot of time with and as such are all inspirations in my design practice. Of course I have interests outside of these and I've spent quite some time doing other random things like building keyboards, researching rare vehicles or learning about cryptography. I have a <a href="">blog</a> where i share my findings and opinions on these other, more niche interests.</p>
	</div>
	<!--segment-->
	<div class="segment">
		<h1>work</h1>
		<p class="w-4 p0">A small selection of my work</p>
		<div class="gridBox w-2"></div>
		<div class="gridBox w-1"></div>
		<div class="gridBox w-1"></div>
		<div class="gridBox w-1"></div>
		<div class="gridBox w-1"></div>
		<div class="gridBox w-1"></div>
		<div class="gridBox w-1"></div>
	</div>
</div>