---
layout: default
---


<div id="mainContent">
    <a href="/blog" id="backLink">back</a>
    <div class="postContainer">
        <h1>{{page.title}}</h1>
        <p class="postDate" style="font-size: 1rem">{{page.date | date_to_string}}</p>
        {{content}}
    </div>
</div>

<style type="text/css">
    #num1{
        color: #454545;
    }
</style>
<script type="text/javascript">
    var images = document.getElementById('mainContent').getElementsByTagName("img");
    var i;

    for(i = 0; i < images.length; i++) {
        images[i].className += " zoom";
    }

    //open external links in a new window
    function external_new_window() {
        for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
            var b = c[a];
            if(b.getAttribute("href") && b.hostname !== location.hostname) {
                b.target = "_blankd";
            }
        }
    }
    external_new_window();
</script>